.Main.p-4.bg-light
  .card.question(id="question-" + data.question.id)

    .card-header
      h5 Editting Question #{data.question.id}

    .card-body

      .form-group
        textarea.form-control(id="questionText-" + data.question.id, rows="3")  #{data.question.content}
      
      if data.image.length == 1
        .row
          .col-md-12.text-center
            img.img-fluid(src=data.image[0].url id="question-image")
        .row.mt-2
          .col-md-12
            input.form-control(id="question-img-src" value=data.image[0].url)
            script.
              $("#question-img-src").change(function() {
                $("#question-image").attr("src", $("#question-img-src").val());
              });
        //consider changing this to have some sort of validation or even extracting it from here and into editQuestions.js
      else
        .row
          .col-md-12 Add Image Button Here
    .card-body    
      .row
        .col-md-12
        //  .input-group.mb-3
            .input-group-prepend
              span.input-group-text(id="question-timer-prepend") Question Timer
            input.form-control(type="text" placeholder="Timer" aria-label="question-timer" aria-describedby="question-timer-prepend" id="question-timer" value=data.question.answertime)

        //  .input-group
            label.col-form-label(for="question-timer") Question Timer
            div
              input.form-control(id="question-timer" value=data.question.answerTime) 
        
    for answer in data.answers
      - var isAnswerCorrect = false;
      - var answerId = "answer-" + answer.id;
      - var answerTextId = "answerText-" + answer.id;
      - var removeAnswerId = "answerRemove-" + answer.id;
      - var correctAnswerId = "correctAnswer-" + answer.id;
      - var answerIdTrue = "correctAnswerTrue-" + answer.id;
      - var answerIdFalse = "correctAnswerFalse-"  + answer.id;
      
      for correct in data.correctAnswers
        if correct.answerid == answer.id
          - isAnswerCorrect = true;
          - break

      .card-body.answer(id=answerId)
        .form-group
          label(for=optionId).row
            .col-md-10.col-sm-7
              | Answer #{answer.id}
            .col-md-2.col-sm-5.text-right
              .btn-group.btn-group-toggle(id=correctAnswerId data-toggle="buttons")
                if isAnswerCorrect
                  label.btn.btn-outline-success.btn-sm.active
                    input(id=answerIdTrue type="radio" name="options" autocomplete="off" checked="checked" value="true")
                    i.fa.fa-check
                else
                  label.btn.btn-outline-success.btn-sm
                    i.fa.fa-check
                    input(id=answerIdTrue type="radio" name="options" autocomplete="off" checked="" value="true")
                
                if !isAnswerCorrect
                  label.btn.btn-outline-danger.btn-sm.active
                    input(id=answerIdFalse type="radio" name="options" autocomplete="off" checked="checked" value="false")
                    i.fa.fa-times
                else
                  label.btn.btn-outline-danger.btn-sm
                    input(id=answerIdFalse type="radio" name="options" autocomplete="off" checked="" value="false")
                    i.fa.fa-times
               
          .form-group
            textarea.form-control(id=answerTextId x="" rows="3") #{answer.content}
          .row
            .col-12
              .form-group.float-right
                button.btn.removeButton(type="button" id=removeAnswerId) Remove Answer
                script.
                  $("##{removeAnswerId}").click(questionInterface.removeOldAnswer.bind(null, "#{answerId}"));
    
    - var newAnswerDiv = "newAnswers-" + data.question.id
    
    div(id= newAnswerDiv)
    
    .card-body    
      .row
        .col-12
          .form-group
              button.btn(type="button" id="addAnswer") Add Answer
              script.
                  $("#addAnswer").click(function () {
                    questionInterface.addAnswer("#{newAnswerDiv}");
                  });
              
